/* 
.footer p{
    color: #7d65d3;
    text-align: center;
}
.footer h4{
    color: #7d65d3;
    font-weight: bold;
}
.footer label{
    color: #ff15a0;
}
.footer img.logo{
   width: 150px;
}
.footer .icons{
    display: flex;
    }

.nav-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px 20px;
    background-color: white;
    box-shadow: #d9d9d9 0 1px 0 ; ;
    font-weight: bold;
}
.nav-text-footer{
    display: flex;
    gap: 35px;  
}
.nav-text-footer p:hover{
    color: #ff15a0;
    cursor: pointer;
}
.contact-footer{
    display: flex;
    flex-wrap: wrap;
    margin: 0 100px;
    padding: 10px 20px;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
}
.media-footer{
    display: grid;
    position: static;
    justify-items: center;
    align-items: center; 
    background-color:#f6f4fe;
    height: 100px;
    width: auto;
    min-width: 300px;
    border-radius: 20px;
    margin:0 0 10px;
}
.more-info-footer{
    display: grid;
    margin: 10px;
    padding: 10px 20px;
    background-color: white;
    justify-items: center;
}
.more-info-text-footer{
    display: grid;
    margin: 10px 0;
    padding: 0 20px;
}
.more-info-text-footer p{
    font-weight: bold;
}
.more-info-text-footer span{
    font-weight: normal;
}
.footer button{
    width: 250px;
    border-radius: 50px;
}
 */


 .footer{
    display: grid;
    justify-self: center;
}


.footer img.icon{
    height: 35px;
    filter: invert(34%) sepia(99%) saturate(7482%) hue-rotate(312deg) brightness(101%) contrast(101%);
}
.footer img.icon:hover{
    cursor: pointer;
    transform: scale(1.1);
}
