html{
    margin: auto;
    display: flex;
    scroll-behavior: smooth;
}

body{
    display: flex;
    background-color: #7d65d3;
    justify-content: center;
    margin:auto;
}
.root{
    display: flex;
    

}
button{

    font-weight: bold;
    border:none;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease; 
}
button.another{
    color: #7d65d3;
    background-color: #ffffff;
}
button.another:hover{
    transform: scale(1.05);
    background-color: #fff0c2 ; 
}

button.standart:hover {
  transform: scale(1.05);
  background-color: #FB0961 ;
}

 
button.standart::before {
    content: '';
    position: absolute;
    top: -100%;
    left: -150%;
    width: 200%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    transform: rotate(45deg);
    opacity: 0.9;
    animation: shine 2s linear infinite;
    pointer-events: none;
}
button {
  position: relative;
}

@keyframes shine {
 0% {
    top: -150%;
    left: -250%;
}
100% {
    top: 150%;
    left: 150%;
}
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE */
  scrollbar-width: none; /* Firefox */
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { transform: translateY(40px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

.animate-slideUp {
  animation: slideUp 0.3s ease-out;
}

/* Кастомный скроллбар */
/* более простой класс — рекомендую */
.modal-scroll::-webkit-scrollbar {
  width: 8px;
  height: 2px;
}
.modal-scroll::-webkit-scrollbar-thumb {
  background-color: #7d65d3;
  border-radius: 20px;
}
.modal-scroll::-webkit-scrollbar-track {
  background-color: #f3f4f6;
}


@layer utilities {
  .modal-scroll {
    /* Для Firefox */
    scrollbar-width: thin;
    scrollbar-color: #7d65d3 #f3f4f6;
  }

  /* Для Chrome / Safari */
  .modal-scroll::-webkit-scrollbar {
    width: 1px; /* ← уменьшает ширину скроллбара */
  }

  .modal-scroll::-webkit-scrollbar-thumb {
    background-color: #7d65d3;
    border-radius: 8px;
    border: 100px solid white; /* ← делает "внутренний" эффект */
  }

  .modal-scroll::-webkit-scrollbar-track {
    background-color: #f3f4f6;
    border-radius: 8px;
  }
}







