
body{
    background-color: #7d65d3;
    max-width: 1200px;
    justify-content: center;
    display: grid;
}
section{
    max-width: 1200px;
    display: grid;
    justify-content: center;
    justify-self: center;
}
button{
    background-color: #ff15a0;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px;
    border-radius: 15px;
    font-weight: bold;
    width: 300px;
    height: 55px;
    overflow: hidden;
    transition: all 0.3s ease; 
}
button.another{
    color: #7d65d3;
    background-color: #ffffff;
}
button.another:hover{
    transform: scale(1.05);
    background-color: #fff0c2 ; 
}

button.standart:hover {
  transform: scale(1.05);
  background-color: #FB0961 ;
}

 
button.standart::before {
    content: '';
    position: absolute;
    top: -100%;
    left: -150%;
    width: 150%;
    height: 150%;
    background: rgba(255, 255, 255, 0.5);
    transform: rotate(45deg);
    opacity: 0.9;
    animation: shine 2s linear infinite;
    pointer-events: none;
}
button span,
button {
  position: relative;
}

@keyframes shine {
 0% {
    top: -150%;
    left: -150%;
}
100% {
    top: 150%;
    left: 150%;
}
}


@media (max-width:1350) {
    body{
        display: flex;
        margin: 10vh;
    }
    
}
