html{
    margin: auto;
    display: flex;
}

body{
    display: flex;
    background-color: #7d65d3;
    justify-content: center;
    margin:auto;
}
.root{
    display: flex;
    

}
button{

    font-weight: bold;
    border:none;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease; 
}
button.another{
    color: #7d65d3;
    background-color: #ffffff;
}
button.another:hover{
    transform: scale(1.05);
    background-color: #fff0c2 ; 
}

button.standart:hover {
  transform: scale(1.05);
  background-color: #FB0961 ;
}

 
button.standart::before {
    content: '';
    position: absolute;
    top: -100%;
    left: -150%;
    width: 200%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    transform: rotate(45deg);
    opacity: 0.9;
    animation: shine 2s linear infinite;
    pointer-events: none;
}
button {
  position: relative;
}

@keyframes shine {
 0% {
    top: -150%;
    left: -250%;
}
100% {
    top: 150%;
    left: 150%;
}
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE */
  scrollbar-width: none; /* Firefox */
}


