/* .title h1{
    font-size: 2.5em;
    margin: 30px;
    font-weight: bold;
    color: white;
}

.workpoland{
    margin: 20px;
}
.map{
    display: grid;
    justify-content: center;
}
.map img {
    width: 1000px;
} */
 .title h1 p{
    display: inline;
    color: #fff0c2;
}